body {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	height: 100vh;
	width: 100%;
}

main {
	height: 100%;
	width: 100%;
}

/************ HEADER **************/

header {
	align-items: center;
	background-color: #1F1F3D;
	display: flex;
	height: 10vh;
	justify-content: space-between;
	width: 100%;
}

h1 {
	color: #FFFFFF;
	font-size: 2em;
	font-weight: 800;
}

.yellow {
	color: #FFC30C;
}

.search__box {
	display: flex;
	height: 40px;
	width: 25%;
}

.search__icon {
	background-color: #C8D3D9;
	height: 28px;
	padding: 6px;
}

.search__input {
	font-size: 1em;
	font-weight: 300;
	padding: 5px;
	width: 80%;
}

/************ NAV **************/

nav {
	background-color: #587A8A;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	height: auto;
	padding: 5px;
	width: 20%;
}

label {
	color: #C8D3D9;
	font-size: 1em;
}

form {
	margin: 10px;
}

.main__section {
	display: flex;
}

.top-nav {
	border-bottom: solid 1px #1F1F3D;
}

.sidebar__input {
	border-color: #1F1F3D;
	font-size: 1em;
	height: 30px;
	margin: 10px 0px;
	padding: 10px;
	width: 88%;
}

.item__input {
	width: 69%;
}

.item-input__box {
	display: flex;
}

.item-list__box {
	align-items: center;
	display: flex;
	padding: 10px;
}

.nav__delete {
	margin: 10px;
	width: 20px;
}

.add__button {
	background-color: #1F1F3D;
	border: solid 2px #1F1F3D;
	font-size: 3.3em;
	height: 50px;
	margin-top: 10px;
	text-align: center;
	width: 18%;
}

.sidebar__button {
	background-color: #1F1F3D;
	border: none;
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight: 500;
	height: 40px;
	margin: 10px;
	width: 88%;
}

.bottom-nav {
	margin-top: 20px;
}

/************ TASKS **************/

h2 {
	color: #1F1F3D;
	font-weight: bold;
	padding: 7px;
}

ul {
	align-items: center;
	display: flex;
}

.card__section {
	background-color: #F3F6F7;
	color: #1F1F3D;
	columns: 2 250px;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	height: 90vh;
	padding: 7px;
	width: 80%;
}

.new-task__card {
	background-color: #FAFDFFa;
	border: solid 2px #C7D3D8;
	display: inline;
	font-size: 1em;
	height: fit-content;
	margin: 10px;
	width: 60%;
}

.card__checkbox {
	height: 15px;
	padding: 5px;
}

.checkbox {
	content:url('svg/checkbox-active.svg')
}

.task__body {
	border-top: solid 2px #C7D3D8;
	display: flex;
	flex-direction: column;
}

.task__body div {
	display: flex;
}

.active-urgent__icon {
	content:url('svg/urgent-active.svg');
}

.task__footer {
	border-top: solid 2px #C7D3D8;
	color: #3C6577;
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
	padding: 7px;
}

.inactive__button {
	height: 30px;
}

/************** MEDIA QUERIES **************/

@media (max-width: 940px) {
header {
	display: block;
	text-align: center;
	padding: 20px;
}

nav {
	text-align: center;
	width:100%;
}

form {
	display: inline-block;
	width: 50%;
}

.main__section {
	display: block;
	text-align: center;
}

.top-nav {
	text-align: center;
}

.bottom-nav {
	margin-bottom: 10px;
}

.card__section {
	height: 100%;
	width: 100%;
}

.search__box {
	display: inline-flex;
	padding: 10px;
}

.sidebar__input {
	margin-left: 15px;
	width: 70%;
}

.sidebar__button  {
	font-size: 10px;
	width: 88%;
}
}
